* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#background {
  background-repeat: no-repeat;
  background-size: 200vh;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: black;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 239, 239);
  border: solid 5px rgb(39, 39, 39);
  border-radius: 20px;
}

.temperature {
  display: flex;
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.degree-section h2 {
  font-size: 40px;
  padding: 10px;
}

.temperature-description {
  text-transform: capitalize;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .location,
.temperature {
  
  width: 90%;
}

.location {
  height: 20vh;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}